<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <script async<meta http-equiv="X-UA-Compatible" content="IE=edge"
    src="https://www.googletagmanager.com/gtag/js?id=G-0GEDC5RTJ9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-0GEDC5RTJ9");
  </script>

  <!-- Clarity (clarity.js) - Microsoft analytics -->
  <script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
      t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "93jfa0ufr9");
  </script>

  <!-- Title and Icon -->

  <title>Videolify, Simply Clever.</title>
  <link rel="shortcut icon" href="../images/favicon.png" />
  <link rel="apple-touch-icon" href="../images/favicon.png" />

  <!-- Meta Information -->

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="description" content="Videolify. Powerful ~ Fast ~ Easy to use ~ Secure" />
  <meta name="keywords"
    content="webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting" />

  <!-- https://ogp.me -->

  <!-- Primary Meta Tags -->
  <title>Videolify ~ The new revolution</title>
  <meta name="title" content="Videolify">
  <meta name="description" content="Smooth ~ Fast ~ Simply Clever!">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://videolify.up.railway.app/">
  <meta property="og:title" content="Videolify">
  <meta property="og:description" content="Smooth ~ Fast ~ Simply Clever!">
  <meta property="og:image" content="https://videolify.up.railway.app/images/preview.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://videolify.up.railway.app/">
  <meta property="twitter:title" content="Videolify">
  <meta property="twitter:description" content="Smooth ~ Fast ~ Simply Clever!">
  <meta property="twitter:image" content="https://videolify.up.railway.app/images/preview.png">

  <!-- StyleSheet -->

  <link rel="stylesheet" href="../css/landing.css" />
  <link rel="stylesheet" href="../css/newcall.css" />
</head>

<body class="has-animations">
  <div class="body-wrap">
    <header class="site-header reveal-from-top">
      <div class="container">
        <div class="site-header-inner">
          <div class="brand">
            <div class="m-0">
              <a href="/"><img src="../images/favicon.png" alt="Neon" width="32" height="32" /></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="site-content">
      <section class="hero section illustration-section-01">
        <div class="container">
          <div class="hero-inner section-inner">
            <div class="split-wrap invert-mobile">
              <div class="split-item">
                <div class="
                      hero-content
                      split-item-content
                      center-content-mobile
                    ">
                  <h1 class="mt-0 mb-16 reveal-from-bottom" data-reveal-delay="150">
                    Videolify<br />Free browser based real-time video
                    calls.<br />
                    Simple, Secure, Fast.
                  </h1>
                  <p class="mt-0 mb-32 reveal-from-bottom" data-reveal-delay="300">
                    Start your next video call with a single click. No
                    download, plug-in or login required. Just get straight to
                    talking, messaging and sharing your screen.
                  </p>
                  <div class="reveal-from-bottom" data-reveal-delay="450">
                    <a class="button button-primary button-wide-mobile br-6 pulse btn-hover" style="
                          border: 0;
                          background-image: linear-gradient(to right, #03001e, #7303c0, #ec38bc);
                        " href="/newcall">Try now</a>
                  </div>
                </div>
                <style>
                  @media (min-width: 641px) {
                    .hero .split-wrap .split-item {
                      min-height: 492px;
                    }
                  }
                </style>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="features-tiles section center-content">
        <div class="container">
          <div class="features-tiles-inner section-inner has-top-divider">
            <div class="section-header">
              <div class="container-xs reveal-from-bottom" data-reveal-delay="650">
                <h2 class="mt-0 mb-16">
                  Unlimited number of conference rooms without call time
                  limitation
                </h2>
                <p class="m-0">
                  Videolify is built radically different. We left behind slow
                  bulky servers, opting for peer to peer calling. We
                  engineered a platform with maximum video quality lowest
                  latency that makes your calls crystal clear.
                </p>
              </div>
            </div>

            <div class="tiles-wrap">
              <div class="tiles-item reveal-from-right">
                <div class="tiles-item-inner">
                  <div class="features-tiles-item-header">
                    <div class="features-tiles-item-image mb-16">
                      <img src="../images/icon1.svg" alt="Screen-Share" width="40px" height="40px" />
                    </div>
                  </div>
                  <div class="features-tiles-item-content">
                    <h4 class="mt-0 mb-8">Screen-Share</h4>
                    <p class="m-0 text-sm">
                      Share your files, videos, images, etc with screen share feature. Useful for teaching, showing
                      projects, etc.
                    </p>
                  </div>
                </div>
              </div>

              <div class="tiles-item reveal-from-left">
                <div class="tiles-item-inner">
                  <div class="features-tiles-item-header">
                    <div class="features-tiles-item-image mb-16">
                      <img src="../images/feature-tile-icon-04.svg" alt="Webcam Streaming" width="72px" height="72px" />
                    </div>
                  </div>
                  <div class="features-tiles-item-content">
                    <h4 class="mt-0 mb-8">WebCam Streaming</h4>
                    <p class="m-0 text-sm">
                      Having the webcam on, allows participants to make a
                      deeper connection with you. Up to 4k resolution.
                    </p>
                  </div>
                </div>
              </div>

              <div class="tiles-item reveal-from-right">
                <div class="tiles-item-inner">
                  <div class="features-tiles-item-header">
                    <div class="features-tiles-item-image mb-16">
                      <img src="../images/icon3.svg" alt="Chat Room" width="40px" height="40px" />
                    </div>
                  </div>
                  <div class="features-tiles-item-content">
                    <h4 class="mt-0 mb-8">Chat Room</h4>
                    <p class="m-0 text-sm">
                      Chat with others in meeting, either public chat or
                      private, save the meeting messages. Integrated emoji
                      picker to show your feeling.
                    </p>
                  </div>
                </div>
              </div>

              <div class="tiles-item reveal-from-left">
                <div class="tiles-item-inner">
                  <div class="features-tiles-item-header">
                    <div class="features-tiles-item-image mb-16">
                      <img src="../images/icon4.svg" alt="Meeting Recording" width="40px" height="40px" />
                    </div>
                  </div>
                  <div class="features-tiles-item-content">
                    <h4 class="mt-0 mb-8">Meeting Recording</h4>
                    <p class="m-0 text-sm">
                      Record your Screen, WebCam and Audio. Save it for use it
                      in future or to share with others.
                    </p>
                  </div>
                </div>
              </div>

              <div class="tiles-item reveal-from-right">
                <div class="tiles-item-inner">
                  <div class="features-tiles-item-header">
                    <div class="features-tiles-item-image mb-16">
                      <img src="../images/wboard.svg" alt="Interactive Whiteboard" width="40px" height="40px" />
                    </div>
                  </div>
                  <div class="features-tiles-item-content">
                    <h4 class="mt-0 mb-8">Interactive Whiteboard</h4>
                    <p class="m-0 text-sm">
                      Simple collaborative whiteboard to draw and explain your
                      concepts to the other participants in the meeting.
                    </p>
                  </div>
                </div>
              </div>

              <div class="tiles-item reveal-from-left">
                <div class="tiles-item-inner">
                  <div class="features-tiles-item-header">
                    <div class="features-tiles-item-image mb-16">
                      <img src="../images/feature-tile-icon-02.svg" alt="File Sharing" width="72" height="72" />
                    </div>
                  </div>
                  <div class="features-tiles-item-content">
                    <h4 class="mt-0 mb-8">File Sharing</h4>
                    <p class="m-0 text-sm">
                      Share any types of files to all participants in the
                      meeting, with total security, thanks to Datagram Transport
                      Layer Security (DTLS).
                    </p>
                  </div>
                </div>
              </div>

              <div class="tiles-item reveal-from-right">
                <div class="tiles-item-inner">
                  <div class="features-tiles-item-header">
                    <div class="features-tiles-item-image mb-16">
                      <img src="../images/feature-tile-icon-05.svg" alt="Total Privacy" width="72" height="72" />
                    </div>
                  </div>
                  <div class="features-tiles-item-content">
                    <h4 class="mt-0 mb-8">Total Privacy</h4>
                    <p class="m-0 text-sm">
                      Data stays between you and your participants. Videolify
                      don't collect or share personal information. It's built
                      for privacy first.
                    </p>
                  </div>
                </div>
              </div>

              <div class="tiles-item reveal-from-left">
                <div class="tiles-item-inner">
                  <div class="features-tiles-item-header">
                    <div class="features-tiles-item-image mb-16">
                      <img src="../images/icon6.svg" alt="Maximum Security" width="40px" height="40px" />
                    </div>
                  </div>
                  <div class="features-tiles-item-content">
                    <h4 class="mt-0 mb-8">Maximum Security</h4>
                    <p class="m-0 text-sm">
                      End to end state of the art encryption means your
                      participants are exactly that. Your calls.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="team section center-content">
        <div class="container">
          <div class="team-inner section-inner has-top-divider">
            <div class="section-header center-content reveal-from-bottom">
              <div class="container-xs">
                <h2 class="mt-0 mb-16">Supported Browsers</h2>
              </div>
            </div>
            <div class="tiles-wrap">
              <div class="tiles-item reveal-from-bottom">
                <div class="tiles-item-inner">
                  <div class="team-item-header">
                    <div class="team-item-image mb-24">
                      <img src="../images/browsers.png" alt="Supported Browsers" width="auto" height="auto" />
                    </div>
                  </div>
                  <div class="team-item-content">
                    <h5 class="team-item-name mt-0 mb-4">
                      Chrome, Edge, Firefox, Opera, Safari, Brave & more...
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="team section center-content">
        <div class="container">
          <div class="team-inner section-inner has-top-divider">
            <div class="section-header center-content reveal-from-bottom">
              <div class="container-xs">
                <h2 class="mt-0 mb-16">Meet the team</h2>
              </div>
            </div>

            <div class="tiles-wrap">
              <!-- Author -->
              <div class="tiles-item reveal-from-bottom">
                <div class="tiles-item-inner">
                  <div class="team-item-header">
                    <div class="team-item-image mb-24">
                      <img src="../images/Potrait.gif" style="border-radius: 70px" alt="Team member author" width="180" height="180" />
                    </div>
                  </div>
                  <div class="team-item-content">
                    <a target="_blank" href="https://github.com/Jaideep25">
                      <h5 class="team-item-name mt-0 mb-4" style="color: rgb(0, 238, 255)">Jaideep25</h5>
                    </a>
                    <div class="
                          team-item-role
                          text-xxs
                          fw-500
                          tt-u
                          text-color-primary
                          mb-8
                        ">
                      Frontend Developer
                    </div>
                  </div>
                </div>
              </div>
              <div class="tiles-item reveal-from-bottom">
                <div class="tiles-item-inner">
                  <div class="team-item-header">
                    <div class="team-item-image mb-24">
                      <img src="../images/miro.png" alt="Team member author" width="180" height="180" />
                    </div>
                  </div>
                  <div class="team-item-content">
                    <a target="_blank" href="https://github.com/miroslavpejic85">
                      <h5 class="team-item-name mt-0 mb-4">Miroslav Pejic</h5>
                    </a>
                    <div class="
                          team-item-role
                          text-xxs
                          fw-500
                          tt-u
                          text-color-secondary
                          mb-8
                        ">
                      Backend Developer
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">
          <div class="section-inner has-top-divider">
            <div class="container-xs">
              <div class="section-header center-content">
                <h2 class="m-0">
                  Try an easier, more secure way of calling.
                </h2>
              </div>
              <div class="center-content">
                <a class="button button-primary button-wide-mobile br-6 pulse btn-hover" style="
                      border: 0;
                      background-image: linear-gradient(to right, #03001e, #7303c0, #ec38bc);
                    " href="/newcall">Try now</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="site-footer center-content-mobile">
      <div class="container">
        <div class="site-footer-inner">
          <div class="footer-top space-between text-xxs">
            <div class="brand">
              <a href="/"><img src="../images/favicon.png" alt="Videolify logo" width="32px" height="32px" /></a>
            </div>
            <div class="footer-social">
              <div>
                <a target="_blank" href="https://github.com/jaideep25/videolify">
                  <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <title>GitHub</title>
                    <path
                      d="M7.95 0C3.578 0 0 3.578 0 7.95c0 3.479 2.286 6.46 5.466 7.553.397.1.497-.199.497-.397v-1.392c-2.187.497-2.683-.994-2.683-.994-.398-.894-.895-1.192-.895-1.192-.696-.497.1-.497.1-.497.795.1 1.192.795 1.192.795.696 1.292 1.888.894 2.286.696.1-.497.298-.895.497-1.093-1.79-.2-3.578-.895-3.578-3.976 0-.894.298-1.59.795-2.087-.1-.198-.397-.993.1-2.086 0 0 .695-.2 2.186.795a6.408 6.408 0 0 1 1.987-.299c.696 0 1.392.1 1.988.299 1.49-.994 2.186-.795 2.186-.795.398 1.093.199 1.888.1 2.086.496.597.795 1.292.795 2.087 0 3.081-1.889 3.677-3.677 3.876.298.398.596.895.596 1.59v2.187c0 .198.1.496.596.397C13.714 14.41 16 11.43 16 7.95 15.9 3.578 12.323 0 7.95 0z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="footer-bottom space-between text-xxs invert-order-desktop">
            <nav class="footer-nav">
              <ul class="list-reset">
                <li>
                  <a target="_blank" href="/privacy">Privacy Policy</a>

                  Made with ❤️ by Jaideep25 & Miroslav Pejic
                </li>
              </ul>
            </nav>
            <div class="footer-copyright">
              &copy; Videolify, All Rights reserved
            </div>
            </br>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script defer src="../js/landing.js"></script>
</body>

</html>